@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */

    /* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */
}